In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
air_data=pd.read_excel('AirQualityUCI.xlsx')

In [3]:
air_data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

In [5]:
air_data.shape

(9357, 15)

In [6]:
air_data.dropna(axis=0,how='all')

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04,10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
9353,2005-04-04,11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
9354,2005-04-04,12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
9355,2005-04-04,13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
9356,2005-04-04,14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

In [8]:
features=air_data

In [9]:
features=features.drop('Date',axis=1)
features=features.drop('Time',axis=1)
features=features.drop('C6H6(GT)',axis=1)
features=features.drop('PT08.S4(NO2)',axis=1)

In [10]:
labels=air_data['C6H6(GT)'].values

In [11]:
features=features.values

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(features,labels,test_size=0.3)

In [17]:
print("X_train shape-->{}".format(X_train.shape))
print("X_test shape-->{}".format(X_test.shape))
print("y_train shape-->{}".format(y_train.shape))
print("y_test shape-->{}".format(y_test.shape))

X_train shape-->(6549, 11)
X_test shape-->(2808, 11)
y_train shape-->(6549,)
y_test shape-->(2808,)

# Linear Regression

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:

print("Predicted values:",regressor.predict(X_test))

Predicted values: [  16.84840218   14.84519996 -199.95682323 ...   21.98284626    9.16443659
   17.92118819]

In [31]:

print("R^2 score for Linaer Regression: ",regressor.score(X_test,y_test))

R^2 score for Linaer Regression:  0.999199420352805

# Support Vector Regression

In [ ]:
from sklearn.model_selection import KFold

In [32]:
from sklearn.svm import SVR

In [33]:
sr=SVR(kernel='rbf',C=1000)
sr.fit(X_train,y_train)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [35]:
print("Coefficient of determination R^2 <-- on train set: {}".format(sr.score(X_train, y_train)))

Coefficient of determination R^2 <-- on train set: 0.9999983569301784

In [36]:
print("Coefficient of determination R^2 <-- on test set: {}".format(sr.score(X_test, y_test)))

Coefficient of determination R^2 <-- on test set: 0.999997627551809

# Decision Tree Regression

In [37]:
from sklearn.tree import DecisionTreeRegressor

In [38]:
d=DecisionTreeRegressor()
d.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [40]:
print("Coefficient of determination R^2 <-- on train set: {}".format(d.score(X_train, y_train)))

Coefficient of determination R^2 <-- on train set: 1.0

In [41]:
print("Coefficient of determination R^2 <-- on test set: {}".format(d.score(X_test, y_test)))

Coefficient of determination R^2 <-- on test set: 0.9999978309153543